.header__title {
    margin: 0;
    box-sizing: border-box;
    display: block;
    font-family: $fontFamily;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: $bgColor;
    padding: 208px 0 0 20px;
    max-width: 460px;
}

@media screen and (max-width: 1439px) {
    .header__title {
        max-width: none;
        padding: 168px 0 0 20px;
    }
}

@media screen and (max-width: 767px) {
    .header__title {
        max-width: none;
        padding: 84px 0 0 20px;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;

    }
}